@font-face {
  font-family: 'Catallina';
  src: url('/fonts/Catallina.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Catallina', Arial, sans-serif;
}
